*{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container{
    border: 1px green solid;
}

.green{
    background-color: rgb(185, 248, 185);
}

.snow{
    background-color: rgba(247, 230, 230, 0.938);
}

h1{
    font-weight: 100;
    padding-left: 85px;

}
.page-header{
    margin-left: 150px;
    text-decoration: underline;
}

h5{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

ul{
    padding-top: 7px;
}

.logoHtml{
    width: 555px;
    height: auto;
    margin-left: 0;
}

#profilePic{
    width: 25%;
    height: auto;
}


