*{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h1{
    font-weight: 100;
    padding-left: 85px;

}

h5{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.container{
    border: 2px black solid;
}

ul{
    padding-top: 7px;
}

.card-body{
    text-align: center;
    float: left;
}


